{%
  set classes = [
  'srh-layout',
  'srh-layout--twocol--bis--footer',
  'container-fluid'
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.left_first or content.right_first %}
      <div class="first--row row">
        {% if content.left_first %}
          <div {{ region_attributes.left_first.addClass('srh-layout__region', 'srh-layout__region--left--first', 'col-md-2') }}>
            {{ content.left_first }}
          </div>
        {% endif %}

        {% if content.right_first %}
          <div {{ region_attributes.right_first.addClass('srh-layout__region', 'srh-layout__region--right--first', 'col-md-10') }}>
            {{ content.right_first }}
          </div>
        {% endif %}
      </div>
    {% endif %}
    {% if content.left_second or content.right_second %}
      <div class="second--row row">
        {% if content.left_second %}
          <div {{ region_attributes.left_second.addClass('srh-layout__region', 'srh-layout__region--left--second', 'col-md-8') }}>
            {{ content.left_second }}
          </div>
        {% endif %}

        {% if content.right_second %}
          <div {{ region_attributes.right_second.addClass('srh-layout__region', 'srh-layout__region--right--second', 'col-md-4') }}>
            {{ content.right_second }}
          </div>
        {% endif %}
      </div>
    {% endif %}
    {% if content.footer %}
      <div class="footer--row row">
        <div {{ region_attributes.footer.addClass('srh-layout__region', 'srh-layout__region--footer', 'col-md-12') }}>
          {{ content.footer }}
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}
