{%
  set classes = [
  'srh-layout',
  'srh-layout--twocol--staked',
  'container'
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>

    {% if content.top %}
      <div class="top-row row">
        <div {{ region_attributes.top.addClass('srh-layout__region', 'srh-layout__region--top') }}>
          {{ content.top }}
        </div>
      </div>
    {% endif %}
    {% if content.left or content.right %}
      <div class="middle-row row">
        {% if content.left %}
          <div {{ region_attributes.left.addClass('srh-layout__region', 'srh-layout__region--left', 'col-md-4') }}>
            {{ content.left }}
          </div>
        {% endif %}
        {% if content.right %}
          <div {{ region_attributes.right.addClass('srh-layout__region', 'srh-layout__region--right', 'col-md-8') }}>
            {{ content.right }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}
