<div class="srh-ingredients-full">
  {% if show_change_display or show_portion_spinner %}
    <div class="srh-ingredients-actions">
      {% if show_portion_spinner %}
        <div class="srh-portion-spinner">
          <span class="srh-spinner-action action-desc">-</span>
          <span class="srh-spinner-number" data-serving="{{ serving }}" data-initial-serving="{{ serving }}">
            {% trans %}
              {{ count }} Portion
            {% plural serving %}
              {{ count }} Portions
            {% endtrans %}
          </span>
          <span class="srh-spinner-action action-asc">+</span>
        </div>
      {% endif %}
      {% if show_change_display %}
        <div class="srh-change-display">
          <span class="srh-display srh-display-list" data-display="list"></span>
          <span class="srh-display srh-display-grid active" data-display="grid"></span>
        </div>
      {% endif %}
    </div>
  {% endif %}
  <div class="srh-ingredients">
    {% for element in elements %}
      <div class="srh-ingredient">
        {{ element }}
      </div>
    {% endfor %}
  </div>
</div>
