<div class="notification-system-dispatch-webpushpopup hidden" data-notification-system-dispatch-webpushpopup data-webpush-ask-later-days="{{ ask_later_days }}">
  <div class="notification-system-dispatch-webpushpopup__info">
    {{ info }}
  </div>

  <div class="notification-system-dispatch-webpushpopup__actions" data-webpush-actions>
    <button class="button button--primary" data-webpush-button-enable>{{ button_enable }}</button>
    <button class="button" data-webpush-button-ask_later>{{ button_later }}</button>
    <button class="button" data-webpush-button-cancel>{{ button_cancel }}</button>
  </div>
</div>
