{#
/**
 * @file
 * Default theme implementation to display comparison tables provided by ln_c_entity_compare module
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 * - settings: Shorthand for paragraph.getParagraphSettings(). Contains value of field LnCEntityCompareBundle::SETTINGS_FIELD.
 * - available_entities: Array list of all entities available for comparison
 * - rows: flipped array of fields and values for the initial entities to be compared 
 *
 * @see namespace \Drupal\ln_c_entity_compare\Entity\Bundle\LnCEntityCompareBundle
 * @ingroup themeable
 */
#}

{{ attach_library('core/drupal.tableheader') }}
{{ attach_library('core/drupal.tableresponsive') }}

{%
  set classes = [
    'cols-' ~ settings.number_of_entities,
    'responsive-enabled',
    'sticky-enabled',
  ]
%}

{% set entity_label_class = 'entity-label' %}

{% set show_select_list = available_entities|length > settings.number_of_entities * 1 %}

{% macro column_tag(tag, index) %}
  {%
    set column_attributes = create_attribute().addClass([
      index == 0 ? 'label',
      index == 3 ? 'priority-medium',
      index > 3 ? 'priority-low',
    ])
  %}
  <{{tag}} {{ column_attributes }}>
{% endmacro %}

{% set select_list_options %}
  {% for entity in available_entities %}
    <option value="{{ entity.id() }}">{{ entity.label() }}</option>
  {% endfor %}
{% endset %}

<table{{ attributes.addClass(classes) }}>
    <thead>
      <tr>
        <th scope="row">
          {# Header Label #}
        </th>
        {% for i in 1..settings.number_of_entities %}
          {{ _self.column_tag('th', i) }}
            {% if show_select_list %}
              <form>
                <select class="{{ entity_label_class }}" data-col="{{ i }}" data-pid="{{ paragraph.id() }}">
                  {{ select_list_options }}
                </select>
              </form>
            {% else %}
              <span class="{{ entity_label_class }}">{{ available_entities|slice(loop.index0, 1)|first.label() }}</span>
            {% endif %}
          </th>
        {% endfor %}
      </tr>
    </thead>
  <tbody>
    {% for field_name, row in rows %}
      <tr class="{{ field_name|clean_class }}">
        {% for col in row %}
          {{ _self.column_tag('td', loop.index0) }}
            {{ col }}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>