{% set classes = [
  'region',
  'region-' ~ region|clean_class,
  'navbar',
] %}

<div{{ attributes.addClass(classes) }}>
  <div class="navbar__container container">
    <div class="navbar_left">
      <div class="navbar__branding">
        <a href="/">
          <img class="navbar__logo" src="/{{ directory }}/images/logo.svg" />
        </a>
      </div>
      {{ content }}
    </div>
    <div class="navbar_right">
      <a href="tel:06060606060">
        <img src="/{{ directory }}/images/phone.svg">
      </a>
      <button class="auth_btn">
        Înregistrează & Câștigă
      </button>
      {% if links -%}
        <div class="langs_select">
          <div class="current_lang" onclick="this.classList.toggle('active')">
            {{ current_lang }}
            <img src="/{{ directory }}/images/lang_select_arr.svg">
          </div>
          <div class="langs">
            {%- for item in links -%}
              <a{{ item.attributes }}>
                {%- if item.link -%}
                  {{ item.link}}
                {%- endif -%}
              </a>
            {%- endfor -%}
          </div>
        </div>
      {%- endif %}
    </div>
  </div>
</div>
