<div class="my-menu-iq teaser" data-balance="{{ current_score }}" data-id="{{ recipe.id }}" data-combined="[]">
  <div class="my-menu-iq-inner">
    <div class="main-content">
      {% if panels.expanded.title %}
        <div class="logo-title">{{ panels.expanded.title|t }}</div>
      {% endif %}
      <div class="expanded close">X</div>
      <div class="main-score">
        {{ main_score }}
        <div class="arrow-title">
          {% if panels.teaser.title %}
            <div class="teaser title">{{ panels.teaser.title|t }}</div>
          {% endif %}
          <div class="teaser arrow"></div>
        </div>
        {% if panels.expanded.info_button_text %}
          <div class=" teaser info-button">{{ panels.expanded.info_button_text|t }}</div>
        {% endif %}
      </div>
      <div class="expanded balance">
        {% if panels.balance[current_score].title %}
          <div class="title">{{ panels.balance[current_score].title|t }}</div>
        {% endif %}
        {% if panels.balance[current_score].subtitle %}
          <div class="subtitle">{{ panels.balance[current_score].subtitle|t }}</div>
        {% endif %}
      </div>
      {% if panels.expanded.info_button_text %}
        <div class="expanded info-button">{{ panels.expanded.info_button_text|t }}</div>
      {% endif %}
      {% if categories %}
        <div class="expanded menu-sidedishes">
          {% if panels.expanded.menu_sidedishes.title %}
            <div class="title">{{ panels.expanded.menu_sidedishes.title|t }}</div>
          {% endif %}
          <div class="categories">
            <ul class="nav nav-tabs">
              {% for id, category in categories %}
                <li {{ create_attribute({'class': ['category', category.type], 'data-name': category.label}) }}>
                  <div class="sidedishes-selected"></div>
                  <a href="#tabs-{{ id }}">
                    <div class="score"></div>
                    <div class="icon"></div>
                    <div class="summary">
                      {% if category.label %}
                        <div class="label">{{ 'Add @srh_category'|t({'@srh_category': category.label}) }}</div>
                      {% endif %}
                      {% if panels.expanded.menu_sidedishes.empty_category_text %}
                        <div class="category-sidedishes-selected">{{ panels.expanded.menu_sidedishes.empty_category_text|t }}</div>
                      {% endif %}
                    </div>
                  </a>
                </li>
              {% endfor %}
            </ul>
            <div class="tab-content">
              {% for id, category in categories %}
                <div id="tabs-{{ id }}" class="tab-pane fade {{ category.type }}">
                  <span class="close-category">{{ "Back"|t }}</span>
                  <div class="srh-sidedishes container" data-category="{{ category.type }}">
                    <h3 class="category-recipes">{{ "Select a @srh_category"|t({'@srh_category': category.label}) }}</h3>
                    <div class="srh-sidedishes-recipes">{{ category.sidedishes.recipe }}{{ category.sidedishes.complement }}</div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="srh-view-summary-w expanded">
            {% if panels.expanded.summary.button_open_text_info %}
              <div class="srh-view-summary-info">{{ panels.expanded.summary.button_open_text_info|t }}</div>
            {% endif %}
            <button class="srh-toggle-summary view-summary btn btn-primary" type="button"
                    aria-controls="srh-panel-combination"
                    aria-expanded="false">{{ panels.expanded.summary.button_open_text_plural|t }}
            </button>
          </div>
        </div>
      {% endif %}
      {% if panels.expanded.menu_sidedishes.message_success %}
        <div class="message-success panel-hidden">{{ panels.expanded.menu_sidedishes.message_success|t }}</div>
      {% endif %}
      <div class="close-full-summary expanded">{{ "Back"|t }}</div>
      <div class="expanded panel-combination collapse" id="srh-panel-combination">
          <div class="title">{{ 'Your Selection (@count)'|t({'@count' : 1}) }}</div>
          <div class="sidedishes-selected">{{ sidedishes_current_recipe }}</div>
          {% if adimo %}
            {{ adimo }}
          {% endif %}
      </div>

    </div>
    <div class="panel-info">
      <div class="back">{{ "Back"|t }}</div>
      {{ panels.info.accordion }}
      <div class="nutritional-tips">
        {% if panels.info.nutritional_tips.title %}
          <div class="title">{{ panels.info.nutritional_tips.title|t }}</div>
        {% endif %}
        {% for tip in panels.info.nutritional_tips.tips %}
          {% if tip.value %}
            <div class="tip">{{ tip.value|t }}</div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  {% if panels.balance_100.title or panels.balance_100.subtitle %}
    <div id="srh-balanced-100" class="expanded">
      {% if panels.balance_100.title %}
        <div class="srh-balanced-100-head">{{ panels.balance_100.title|t }}</div>
      {% endif %}
      {% if panels.balance_100.subtitle %}
        <div class="srh-balanced-100-subhead">{{ panels.balance_100.subtitle|t }}</div>
      {% endif %}
      <div class="srh-balanced-100-close" title="{{ 'Close'|t }}">X</div>
    </div>
  {% endif %}


</div>

