<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        {% if about.texts.title %}
          <a class="srh-mymenuiq-toogle srh-accordion-toggle" href="#collapse-about" aria-expanded="true" aria-controls="collapse-about">{{ about.texts.title|t }}</a>
        {% endif %}
      </h4>
    </div>
    <div id="collapse-about" class="srh-mymenuiq-accordion panel-collapse collapse show">
      <div class="info-menu">
        {% if about.texts.menu.title %}
          <h3>{{ about.texts.menu.title|t }}</h3>
        {% endif %}
        {% if about.texts.menu.description.value %}
          <div>{{ about.texts.menu.description.value|t }}</div>
        {% endif %}
      </div>
      <div class="score-mean">
        {% if about.texts.score_mean.title %}
          <h3>{{ about.texts.score_mean.title|t }}</h3>
        {% endif %}
        <div class="balance-info">{{ about.balance_info }}</div>
        {% if about.texts.score_mean.description.value %}
          <div>{{ about.texts.score_mean.description.value|t }}</div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        {% if energy.texts.title %}
          <a class="srh-mymenuiq-toogle srh-accordion-toggle" href="#collapse-energy" aria-expanded="false" aria-controls="collapse-energy">{{ energy.texts.title|t }}</a>
        {% endif %}
      </h4>
    </div>
    <div id="collapse-energy" class="srh-mymenuiq-accordion panel-collapse collapse">
      <div class="energy-bars">
        {{ energy.energy_bars }}
      </div>
      {% if energy.texts.description.value %}
        <div class="energy-disclaimer">{{ energy.texts.description.value|t }}</div>
      {% endif %}
    </div>
  </div>
</div>
